.variations-container {
  display: flex;
  margin-left: -1rem;
}

.variation-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the team of 6 Pokémon */
  margin-bottom: 0px; /* Space between variations */
}

.pokemon-bg {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgb(193, 199, 212);
}

.pokemon-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.pokemon-stats {
  margin-top: 1px;
  padding: 0.125rem 0.25rem;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0.25rem; /* equivalent to rounded */
}


.text-sm {
  margin-top: 1px;
}
